@use '../../scss/tools';

.work-experience {
	&__item {
		list-style: none;
		position: relative;
		padding-bottom: 10px;
		margin-bottom: 10px;
		border-bottom: 1px solid tools.$color-borders;

		&:last-child {
			padding-bottom: 0;
			margin-bottom: 0;
			border-bottom: unset;
		}

		span {
			font-size: 0.9em;
			color: tools.$color-text;
			position: absolute;
			right: 0;
			top: 0;
		}

		p {
			width: 520px;
		}
	}

	&__details {
		margin-top: 10px;
		padding-left: 15px;

		li {
			list-style: circle;
			margin-bottom: 5px;

			&:last-child {
				margin-bottom: 0;
			}
		}
	}
}
