<div class="portfolio">
  <h3 class="portfolio__heading">
    Some of my works and projects I contributed to (other works are under NDA)
  </h3>
  <ul class="portfolio__list">
    <li><a target="_blank" href="http://ctdev.io">Ctdev.io</a></li>
    <li><a target="_blank" href="https://www.artec3d.com">Artec3d.com</a></li>
    <li><a target="_blank" href="http://masterdata.tech">Masterdata.tech</a></li>
    <li><a target="_blank" href="https://www.movinga.de">Movinga.de</a></li>
    <li><a target="_blank" href="http://qbclean.com">Qbclean.com</a></li>
    <li><a target="_blank" href="https://execeye.dashboardonline.com">ExecutiveEye application</a></li>
    <li><a target="_blank" href="https://getinlightened.com/">Inlightened site</a></li>
    <li><a target="_blank" href="https://app.getinlightened.com/">Inlightened application</a></li>
    <li><a target="_blank" href="http://sossitter.ca">Sossitter.ca</a></li>
    <li><a target="_blank" href="https://treatfield.com">Treatfield.com</a></li>
  </ul>
</div>
