<div class="work-experience">
  <h3 class="work-experience__heading">Work experience</h3>
  <ul class="work-experience__list">
    <li class="work-experience__item">
      <h4>Treatfield</h4>
      <h5>Front-end developer</h5>
      <span>09.2021 – till now (part-time)</span>
      <p>
        Maintaining a <a href="https://treatfield.com">Treatfield.com</a>. It is an online psychotherapy platform.
        Adding and maintaining frontend build automation based on Gulp.js. Refactoring all CSS code and moving it to SCSS.
        Maintaining jQuery based javascript code.
      </p>
    </li>
    <li class="work-experience__item">
      <h4>Unicsoft</h4>
      <h5>Markup developer/Junior Front-end developer</h5>
      <span>02.2017 – 01.2021</span>
      <p>
        Creating layouts and UI interactive elements for corporate websites,
        large Angular and React applications.<br>
        The two biggest projects, on which I worked here, were:
        <a href="https://executive-eye.com/">ExecutiveEye</a> platform and <a href="https://getinlightened.com/">Inlightened</a> platform.<br>
        On ExecutiveEye I was doing markup for complete redesign of their <a href="https://execeye.dashboardonline.com/">execeye.dashboardonline application</a>.<br>
        On Inlightened I've created whole markup for <a href="https://app.getinlightened.com/">app.getinlightened application</a>.<br>
        The markup for both applications is based on "Material Design for Web" library and frontend for both of them was created on Angular 2.
      </p>
    </li>
    <li class="work-experience__item">
      <h4>Mil's</h4>
      <h5>Markup developer</h5>
      <span>09.2016 – 12.2016</span>
      <p>
        Creating layouts for corporate websites. Integrating layouts into
        WordPress.
      </p>
    </li>
    <li class="work-experience__item">
      <h4>ASAPP</h4>
      <h5>Markup developer</h5>
      <span>08.2015 - 08.2016</span>
      <p>
        Creating layouts for landing pages, corporate websites and SPA.
        Integrating layouts into Drupal. Creating interactive presentations for
        SalesForce CRM.
      </p>
    </li>
    <li class="work-experience__item">
      <h4>PlanA</h4>
      <h5>Markup developer</h5>
      <span>04.2015 - 07.2015</span>
      <p>
        Creating layouts for corporate websites. Integrating layouts into MODX.
      </p>
    </li>
  </ul>
</div>
