/*
 * Base styles
 */

@use '../tools';

* {
    box-sizing: border-box;
}

@page {
    margin: 0;
}

body {
    margin: 0 auto;
    width: 17.8cm;
    padding: 15px;
    background-color: tools.$color-background;
    font-family: tools.$main-font;
    font-size: 12px;
    line-height: 1.5;
    font-weight: tools.$normal;
    color: tools.$color-text;
}

p {
    margin: 0;
}

ul {
    margin: 0;
    padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    font-weight: tools.$normal;
}

h3 {
    margin-bottom: 6px;
}

h5 {
    font-size: 0.9em;
}

a {
    text-decoration: none;
    color: tools.$color-active;
    font-weight: tools.$normal;
}

section {
    padding: 32px 0;
    border-top: 3px solid tools.$color-borders;

    @include tools.clearfix;

    &:first-of-type {
        border-top: unset;
    }

    .col-30 {
        float: left;
        width: 30%;
    }

    .col-40 {
        float: left;
        width: 40%;
    }
}
