@import url("https://fonts.googleapis.com/css?family=Roboto:300,400");

$main-font: "Roboto", sans-serif;
$light: 300;
$normal: 400;
$bold: 700;
$color-text: rgb(26 8 34 / 90%);
$color-borders: rgba($color-text, 0.1);
$color-background: rgb(252 243 227);
$color-active: rgb(6, 159, 248);
