/*
 * Variables
 */

$main-font: 'Roboto', sans-serif;
$light: 300;
$normal: 400;
$bold: 700;
$color-text: rgb(26 8 34 / 90%);
$color-borders: rgb(26 8 34 / 10%);
$color-background: rgb(252 243 227 / 100%);
$color-active: rgb(6 159 248 / 100%);
